---
import { site } from "../config/site";
---

<header class="site-header">
  <a class="identity" href="/">
    <img src="/images/icon.jpg" alt="" width="48" height="45" />
    <span>
      <strong>{site.name}</strong>
      <small>{site.nameEn}</small>
    </span>
  </a>
  <nav aria-label="メインナビゲーション">
    <a href="/#works">WORK</a>
    <a href="/#about">ABOUT</a>
    <a href="/#links">LINKS</a>
  </nav>
</header>
